
body {
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    font-weight: bold;
}

 button {
    background-color: rgb(202, 216, 241);
    border-style: solid;
    padding: 5px 5px;
    font-weight: bold;
    
border-radius: 5px;
 }

table {
    border-spacing: 20px;
    margin: -20px ; 
   
  }
  
  td {
    width: 10px;
    padding: 10px;
    text-align: center;
  }

  td {
    background-color: bisque;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
  }